html{
    font-size: 0.9em;
}

body{
    margin: 0;
    font-family: sans-serif;
    color: rgb(17, 17, 17);
    
    
}

.container{
  width: 100%;
  margin: 3.2rem auto 0 auto;
  background-color:#fffffff3;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container1{
    width: 100%;
    margin: 3.2rem auto 0 auto;
    background-color:#fffffff3;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

@media(min-width: 576px){
  .container{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 720px
  }
}

header{
    text-align: center;
    margin-bottom: 1.5rem;
}

h1{
  font-weight: 400;
}

#description{
  font-weight: 200;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}

#survey-form{
    background: rgba(255, 255, 255, 0.87);
    padding: 2.3rem 0.5rem;
    border-radius: 0.3rem;
 }
 
 .form-input{
    margin: 0 2.5rem 1.2rem 2rem;
 }
 
 .form-input-size{
  
    width: 100%;
    height: 2.5rem;
    outline: 0;
    border-style:double;
    margin-top: 0.4rem;  
 }

 p{
    font-size: 1.12rem;
   }
   
   #radio-btn,
   #check-box {
    margin-right: 0.5rem;
    min-height: 1.2rem;
    min-width: 1.2rem;
   }
   
   label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
   }
   textarea{
    width: 100%;
    min-height: 6rem;
    resize: vertical;
    padding: 0.5rem 0 0 0.5rem;
   }
   
   #submit{
    width: 100%;
    padding: 0.8rem;
    background: rgb(7, 173, 7);
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;
   }   