@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



body {
  
  box-sizing: border-box;
  font-family: "Roboto", "Sans-serif";
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.card {
  margin: 1rem;
  width: 370px;
  height: 540px;
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}
.card .title {
  color: white;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: 0.2s;
  cursor: pointer;
}
.card .title--legendary {
  background-color: #f4d03f;
}
.card .title--legendary:hover {
  box-shadow: 0 0 12px rgba(244, 208, 63, 0.8);
}
.card .title--epic {
  background-color: #518edd;
  
}
.card .title--epic:hover {
  box-shadow: 0 0 12px #2682fa;
}
.card .title--common {
  background-color: #2ecc71;
}
.card .title--common:hover {
  box-shadow: 0 0 12px rgba(46, 204, 113, 0.8);
}
.card .desc {
  text-align: center;
}
.card .actions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card .actions button {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  outline: 0;
  transition: background-color 0.4s, color 0.4s, transform 0.1s;
}
.card .actions button:hover {
  color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
.card .actions button:active {
  transform: scale(0.95);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.card .actions__like:hover {
  background-color: #00b16a;
}
.card .actions__trade:hover {
  background-color: #3498db;
}
.card .actions__cancel:hover {
  background-color: #c0392b;
}

p {
  margin-top: 1rem;
  color: #484848;
}

a:link,
a:visited {
  text-decoration: none;
  color: #2574a9;
}

.active {
  background-color: #00b16a;
}

button::-moz-focus-inner {
  border: 0;
}

#stuimg{
  border-radius: 50%;
  height: 200;
  width: 200;
}
#imgdiv{
  height: 220;
}

* {
  box-sizing: border-box;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}
.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:-moz-placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  background: rgb(252, 251, 251);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077FF;
}
.inp input:focus + .label {
  color: #0077FF;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}
#my{
  zoom: 100%;
  }