<!-- emailTemplate.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass Generation Confirmation</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            color: #333333;
        }
        p {
            color: #666666;
        }
        .logo {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            text-decoration: none;
            background-color: #007BFF;
            color: #ffffff;
            border-radius: 5px;
        }
       
    </style>
</head>
<body>
    
    <div class="container">
      <!-- Company Logo -->
      <img src="https://pallottingp.in/businessimgs/logo.png" alt="Hostel Logo" class="logo">

      <h2>Hello <%= name %></h2>
      <p>Your Pass has been generated successfully and is ready for use.</p>
      <p>Token Details:</p>
      <ul>
          <li><strong>UID:</strong>  <%= uid %> </li>
          <li><strong>Pass Type:</strong>  <%= pass %> </li>
          <li><strong>Generated On:</strong>  <%= date %> </li>
      </ul>
      <p>Thank you for using our Gate-Pass-system. If you have any questions or concerns, please contact HostelAdmin.</p>
      
  </div>
</body>
</html>
